<div class="card icon" [ngClass]="config.icon">
  <a [routerLink]="[config.url]" [title]="config.title">
    <h3 class="card__title">{{ config.title }}</h3>
    <span class="card__arrows" aria-hidden="true" *ngIf="config.arrows">
      <svg
        width="2em"
        height="2em"
        viewBox="0 0 16 16"
        class="bi bi-chevron-double-right"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"
        />
        <path
          fill-rule="evenodd"
          d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </span>
  </a>
</div>
