@import 'variables';

.pag-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
    color: map-get($colors, c-gray);
    font-size: 1.3em;
    margin: 20px 0 10px;
  }

  &__sub-title {
    color: map-get($colors, c-gray);
    font-size: 1em;
    margin: 0;
  }
}
