<div class="bar-location">
  <div class="row bar-location__row">
    <div class="bar-location__col">
      <div class="col">
        <input type="text" class="form-control" placeholder="Entedidade" />
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Nome" />
      </div>
    </div>
    <div class="bar-location__col">
      <div class="col">
        <input type="text" class="form-control" placeholder="Cooperativa" />
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Unidade" />
      </div>
    </div>
    <div class="bar-location__col box-btn">
      <div class="col">
        <button type="submit" class="btn btn-sicredi">Atualizar</button>
      </div>
    </div>
  </div>
</div>
