@import 'variables';

.bar-location {
  align-items: center;
  background: map-get($colors, c-white);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 30px;
  min-height: 50px;
  padding: 15px 40px;
  position: relative;
  z-index: 10;

  &__col {
    display: flex;
    flex-direction: row;
    width: 40%;

    .col {
      width: 50%;
    }
  }

  &__row {
    margin: auto;
    width: 1140px;
  }

  .box-btn {
    width: 20%;
  }
}

@media (max-width: 500px) {
  .bar-location {
    padding: 15px 18px 0;

    &__col {
      display: flex;
      flex-direction: column;
      width: 50%;

      .col {
        margin-bottom: 15px;
        width: 100%;
      }
    }
    .box-btn {
      text-align: right;
      width: 100%;
    }
  }
}
