@import 'variables';

.page-wrapper {
  height: 100%;
  margin-left: 240px;
  overflow: auto;
  padding-bottom: 0;
  position: relative;
  transition: all 0.5s;

  &--close {
    margin-left: 0;
  }

  &--open {
    margin-left: 240px;
    @media (max-width: 800px) {
      margin-left: 0;
    }
  }
}
