<section class="main">
  <h1 class="main__title">Boilerplate Angular</h1>
  <h2 class="main__subTitle">Initial configuration of a project</h2>
  <div class="box-list">
    <span class="box-list__tag">bem</span>
    <span class="box-list__tag">commitlint</span>
    <span class="box-list__tag">cypress</span>
    <span class="box-list__tag">eslint</span>
    <span class="box-list__tag">husky</span>
    <span class="box-list__tag">jest</span>
    <span class="box-list__tag">lint-staged</span>
    <span class="box-list__tag">prettier</span>
    <span class="box-list__tag">sass</span>
    <span class="box-list__tag">storybook</span>
    <span class="box-list__tag">stylelint</span>
  </div>
</section>
