$colors: (
  sicredi: #64c832,
  sicredi-dark: #3fa110,
  c-white: white,
  c-white-alt: #fefefe,
  c-black: black,
  c-black-alt: #212121,
  c-dodger-blue: #1e90ff,
  c-lightblue: #09c,
  c-lightgray: #eef5f9,
  c-lightgray-alt: lightgray,
  c-gray: #606169,
  c-gray-alt: #455a64,
  c-green: #3fb573,
  c-chatea-green: #28a745,
  c-darkgray: #212121,
  c-red: #dc0a0a,
  c-dark-red: #9e1002,
  c-orange: #f39518,
  c-yellow: #ffc700,
  c-mosque: #0c5460,
  c-oyster-bay: #d1ecf1,
  c-onahau: #bee5eb,
  c-dark-cerulean: #004085,
  c-patten-blue: #cce5ff,
  c-pale-cornflower-blue: #b8daff,
  c-baltic-sea: #383d41,
  c-solitude: #e2e3e5,
  c-link-water: #d6d8db,
  c-crusoe: #155724,
  c-swans-down: #d4edda,
  c-granny-apple: #c3e6cb,
  c-red-berry: #721c24,
  c-pale-pink: #f8d7da,
  c-azalea: #f5c6cb,
  c-golden-brown: #856404,
  c-china-ivory: #fff3cd,
  c-banana-mania: #ffeeba,
  c-storm-grey: #818182,
  c-ghost-white: #fdfdfe,
  c-black-pearl: #1b1e21,
  c-pattens-blue: #d6d8d9,
  c-link-water-alt: #99abb4,
  c-amaranth: #dc3545,
  c-cod-grey: #2f3337,
  c-raven: #6c757d,
);
